ANTHROPIC_API_KEY=""
REDIS_ENDPOINT=""
TAVILY_API_KEY=""
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY=""
LANGCHAIN_PROJECT=""
# AWS KDB
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="us-east-1"
BEDROCK_KDB=""
# VERTEX
GCP_MODEL_ID="gemini-1.5-pro-002"
GCP_PROJECT_ID=""
GCP_PROJECT_REGION="us-east5"